#header {
  color: white;
  font-size: 50px;
  text-align: center;
}

#formularz {
  text-align: center;
  color: white;
  font-size: 30px;
}

#button {
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
}
